<form [formGroup]="form">
  <div class="form-group">
    <label>Название задачи</label>
    <input class="form-control" name="name" formControlName="name" />
  </div>
  <div class="form-group">
    <label>Описание</label>
    <input class="form-control" name="description" formControlName="description" />
  </div>
  <div class="form-group">
    <label>Готовность</label>
    <input type="checkbox" name="isDone"  formControlName="isDone"/>
  </div>
  
  <div class="form-group">
    <label>Срок сдачи</label>
    <input class="form-control" name="deadLine" formControlName="deadLine" />
  </div>
  <div class="form-group">
    <button [disabled]="form.invalid" (click)="submit()"
            class="btn btn-default" >
      Добавить

    </button>
  </div>
</form>
